/** home-page start **/
.home-page .card-list {
  top: 200px;
  position: relative;
  width: 500px;
  z-index: 5;
}

.home-page{
  background-image: url('../images/red-bg.png');
  background-size: 100%;
  width: 1024px;
  color: white;
  font-family: fantasy;
  font-weight: bold;
}

.home-page .snow {
  width: 1024px;
}

.home-page .card-list {
  list-style-type: none;
  padding-top: 30px;
  padding-left: 7px;
  margin: 0;
}

.home-page .card-list .card-img {
  width: 100px;
  height: 60px;
  margin-right: 7px;
  border-radius:  8px;
}

.home-page .card {
  margin: 10px auto;
  cursor: pointer;
}

.home-page .card .card-link{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  height: 100px;
  line-height: 56px;
  vertical-align: top;
  padding-left: 10px;
}

.home-page .h1 {
  display: none;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .home-page {
    background-size: 250%;
    background-position-y: -250px;
  }

  .home-page .h1 {
    display: block;
    padding: 40px;
    text-align: left;
  }

  .home-page .card-list {
    top: 20px;
    width: 350px;
  }

}
/*** home-page end ***/
