.home-page {
  background-image: url("../images/bg.gif");
  background-repeat: no-repeat;
}

.home-page .contact {
  color: #fff;
  margin-top: 20px;
}

.help-text {
  text-align: center;
  color: #000080;
  font-family: fantasy;
}

.home-page .h1 {
  color: #fff;
  padding: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-family: fantasy;
  font-size: 3em;
}

.home-page .container {
  background-color: transparent;
}

.footer {
  font-size: 1em;
  bottom: 0px;
  margin-left: 20px;
  z-index: 1;
  text-align:center;
  margin-top: 10px;
}

.mobile-share {
  position: absolute;
  top: 10px;
}

.list-group-item {
  background-color: transparent;
}

.home-icon {
  color: blue;
}

.home-page .share-buttons {
  position: absolute;
  top: 0;
  width: 50px;
}

.empty-div {
  height: 50px;
}

.card-holder {
  position: relative;
}

@media (max-width: 480px) {
  .col-md-4 {
    margin: 20px auto auto;
  }
  .home-page .h1 {
    padding: 0px 40px 0px;
    text-align: right;
   }
  .home-page .h1 span {
    display: block;
  }
}

.badges {
  position: absolute;
  top: 0px;
  right: 40px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 100;
}
/* flip the pane when hovered */
.flip-container .reward {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 70px;
	height: 70px;
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  font-family: fantasy;
  font-size: 1em;
  font-weight: bold;
  border-style: dashed;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  right: 5px;
}

.flip-container .reward{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@-moz-keyframes rotate {
    from  {-moz-transform: rotateY(0deg);}
    to {-moz-transform: rotateY(360deg);}
}

/** indian republic day only **/

.khiladi {
  background-image: url('../images/khiladi.jpg')
}

.sachin {
  background-image: url('../images/sachin.jpg')
}

.isro {
  background-image: url('../images/isro.jpg')
}

.taj {
  background-image: url('../images/taj.jpg')
}

.gandhi {
  background-image: url('../images/gandhi.jpg')
}

/** indian republic day only end **/


/**** old ****/

.questions-container, .message {
  background: rgba(48, 40, 40, 0.6);
  border-radius: 25px;
  padding: 2px 8px;
  font-size: 1.5em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.questions-container {
  position: absolute;
  top: 50%;
  margin-left: 8%;
  width: 80%;
}

.message {
  font-size: 2em;
  font-family: fantasy;
  position: absolute;
  top: 0;
  display: block;
}

.hidden-question, .hidden {
  display: none;
}

.answer:hover {
  cursor: pointer;
}

.save-image {
  color: blue;
  z-index: 2;
}

/*
.fb-share {
  background: url('../images/facebookShare.png') no-repeat;
  width: 240px;
  height: 52px;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.fb-share:hover {
  box-shadow: inset 0 0 0 5px #2b5274;
}
*/


.answer-options li {
  margin-bottom: 10px;
}

.correct-answer {
  background-image: url('../images/correct.png');
}

.wrong-answer {
  background-image: url('../images/wrong.png');
}

.correct-answer, .wrong-answer {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100%;
  margin-left: 5px;
  display: inline-block;
}

.fadeout {
  opacity: 1;
}

.pinterest-icon img, .whats-app img{
  width: 38px;
  height: auto;
}

/*
.whats-app {
  display: none;
}
  */

.fb-share {
  background: url('/assets/images/fb-share.png');
}

.whats-app {
  background: url('/assets/images/whats-app.png');
}

.fb-share, .pinterest-icon, .whats-app {
  display: inline-block;
  width:40px;
  height:40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.card .post-quiz {
  display: none;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 40%;
  background-color: white;
  height: 30%;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  font-family: fantasy;
  font-size: 1.7em;
  color: white;
  background-color: rgba(48, 40, 40, 0.6)
}
.card .fb-share {
  background-image: url('/assets/images/facebookShare.png');
  width: 250px;
  height: 50px;
  background-size: contain;
  margin-top: 20px;
  cursor: pointer;
}

.card .post-share, .card .during-share {
  display: none;
}

.card .post-quiz a {
  color: white;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .flip-container, .front, .back {
    width: 35px;
    height: 35px;
  }

  .whats-app {
    display: block;
  }

  .decorate .fadeout {
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
    opacity: 0;
  }

  .card .image-container {
    min-height: 600px;
  }

  .empty-div {
    display: none;
  }

  .card .fb-share {
    top: 30%;
    left: 15%;
  }

  .card .post-quiz {
    top: 10%;
    left: 10%;
    width: 80%;
  }
}
