.page-body {
  background-image: url('../images/Snowy-Village-BG.jpg');
  background-repeat: no-repeat
  /*background: #CC6600;*/
}

.gift-box {
  position: relative;
}

.gift-box img {
  width: 200px;
  position: absolute;
  right: 20%;
  z-index: 1;
}

.gift {
  width: 50px;
  height: 50px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  right: 25%;
  top: 20px;
}

.video-embed {
  width: 294px;
  height: 180px;
  position: absolute;
  top: 10px;
  left: 450px;
}

.tree {
  width: 455px;
  height: 670px;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 40px;
}
