/*** harry potter ***/

.page-body.religious{
  background-image: url('../images/religious.jpg');
  width: 1200px;
  height: 625px;
  color: #d9b309;
}

.religious .tree {
  left: 950px;
  top: 86px;
  height: 550px;
  background-image: url('../images/christmas_tree_2.png');
}

.religious .snow {
  height: 560px;
}

.religious .questions-container, .religious .message {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  color: #d9b309;
  text-shadow: -1px 0 #540f1e, 0 1px#540f1e, 1px 0#540f1e, 0 -1px#540f1e;
}

.religious .message {
  display: none;
  height: 120px;
  width: 600px;
  left: 250px;
  top: 20px;
}

.religious .questions-container {
  height: 270px;
  left: 100px;
  text-shadow: -0.3px 0 #d9b309, 0 0.3px#d9b309, 0.3px 0#d9b309, 0 -0.3px#d9b309;
}

.religious .gift-box {
  background-image: url('../images/dumbledore.png');
  right: 0px;
}

.religious .fb-share {
  position: absolute;
  top: 180px;
  left: 500px;
}

.footer a {
  color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #d9b309;
    text-shadow: -0.3px 0 #540f1e, 0 0.3px#540f1e, 0.3px 0#540f1e, 0 -0.3px#540f1e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #d9b309;
   text-shadow: -0.3px 0 #540f1e, 0 0.3px#540f1e, 0.3px 0#540f1e, 0 -0.3px#540f1e;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #d9b309;
   text-shadow: -0.3px 0 #540f1e, 0 0.3px#540f1e, 0.3px 0#540f1e, 0 -0.3px#540f1e;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #d9b309;
   text-shadow: -0.3px 0 #540f1e, 0 0.3px#540f1e, 0.3px 0#540f1e, 0 -0.3px#540f1e;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .page-body.religious{
    background-position: -520px top;
  }

  .page-body.religious.decorate {
    background-position: -930px top;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .religious.decorate .tree {
    width: 950px;
    display: block;
    left: 34px;
    top: 86px;
  }

  .religious .questions-container, .religious .message {
    left: 10px;
    width: 70%;
    max-width: 550px;
  }

  .religious .snow {
    height: 100%;
  }

  .religious .tree, .religious .gift-box, .religious .gift {
    display: none;
  }
  .religious.decorate .gift-box, .religious.decorate .gift, .religious .questions-container {
    display: block;
  }
  .religious .fb-share {
    position: absolute;
    top: 250px;
    left: 10px;
  }
}


/*** avada kevadra ***/
