.card-holder * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.badges.row .flip-container {
  padding-left: 0px;
}
.image-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;
}


.image-caption h2 {
  display: inline-block;
  float: left;
  font-weight: 300;
}

.image-caption h2, .image-caption p {
  margin: 0;
}

.image-caption a {
  color: white;
}

.image-caption h2 span {
  font-weight: 800;
}
.image-container:hover h2 {
  text-decoration: underline;
 -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.image-container p.share-links span {
  float: right;
  padding: 0px 10px;
}

.image-container:hover p.share-links span.fb-share {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.image-container:hover p.share-links span.pinterest-icon {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.image-container:hover p.share-links span.whats-app {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 2em 1em;
  background: rgba(36, 79, 79, 0.3);
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
.image-caption h2, .image-caption p.share-links span {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

.image-container:hover .image-caption,
.image-container:hover h2,
.image-container:hover p.share-links span {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .image-container .image-caption,
  .image-container h2,
  .image-container p.share-links span {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .image-caption {
    padding: 2em 0;
  }
  .image-caption h2 {
    font-size: 1.7em;
    margin-top: 8px;
  }
  .image-container p.share-links span {
    padding: 0;
    margin-left: 16px;
  }
}
