/*** snowman start ***/

.page-body.snowman{
  background-image: url('../images/snowman-bg.jpg');
  width: 1050px;
}

.snowman .tree {
  left: 550px;
}

.snowman .snow {
  width: 1050px;
}

.snowman .gift-holder {
  width: 180px;
  height: 200px;
  position: absolute;
  left: 380px;
  top: 135px;
  cursor: pointer;
  z-index: 5;
}

.snowman .gift-holder[title]:hover:after {
  content: attr(title);
  font-size: 1.2em;
  font-family: fantasy;
  font-weight: bold;
  color: #B90009;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.snowman .gift {
  top: 250px;
  left: -10px;
}

.snowman .fb-share{
  top: 350px;
  left: 400px;
  position: absolute;
  z-index: 6;
}

.snowman .message {
  height: 120px;
  width: 600px;
  left: 50px;
  top: 20px;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 12px;
  color: #540f1e;
  text-shadow: -1px 0 #d9b309, 0 1px#d9b309, 1px 0#d9b309, 0 -1px#d9b309;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #540f1e;
    text-shadow: -0.3px 0 #d9b309, 0 0.3px#d9b309, 0.3px 0#d9b309, 0 -0.3px#d9b309;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #540f1e;
   text-shadow: -0.3px 0 #d9b309, 0 0.3px#d9b309, 0.3px 0#d9b309, 0 -0.3px#d9b309;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #540f1e;
   text-shadow: -0.3px 0 #d9b309, 0 0.3px#d9b309, 0.3px 0#d9b309, 0 -0.3px#d9b309;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #540f1e;
   text-shadow: -0.3px 0 #d9b309, 0 0.3px#d9b309, 0.3px 0#d9b309, 0 -0.3px#d9b309;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .page-body.snowman{
    background-position: -150px;
  }

  .page-body.snowman.decorate {
    background-position: -400px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .snowman.decorate .tree {
    width: 950px;
    display: block;
    left: 34px;
    top: 86px;
  }

  .snowman .gift-holder {
    top: 100px;
    left: 200px;
    z-index: 10;
  }

  .snowman .message {
    left: 10px;
    width: 70%;
    max-width: 550px;
  }

  .snowman .snow {
    height: 100%;
  }

  .snowman .gift, .snowman .tree {
    display: none;
  }

  .snowman.decorate .tree, .snowman.decorate .gift, .snowman .new-gift {
    display: block;
  }
  .snowman .fb-share {
    position: absolute;
    top: 250px;
    left: 10px;
  }
}



/** snowman end ***/
